$bg-color = rgb(250, 250, 250)
$bg-color-light = rgb(255, 255, 255)
$text-color = rgb(61, 61, 61)
$text-color-light = rgb(149, 149, 149)
$font-size = 16px

$page-header-padding = 20px

$btn-padding = 0 5px
$btn-height = 55px
$btn-height-large = 70px
$btn-font-size = 1.126rem
$btn-primary-bg-color = rgb(72, 181, 83)
$btn-primary-text-color = #fff
$btn-round-border-radius = 2px


$header-height = 100px

$border-color = rgb(238, 238, 238)

$shopping-cart-summary-font-size = 0.9rem