$btn 
  display block
  text-align center
  text-decoration none
  font-size $btn-font-size
  height $btn-height
  line-height $btn-height
  padding $btn-padding
  
$btn-round
  border-radius $btn-round-border-radius
  
$btn-large
  height $btn-height-large 
  line-height $btn-height-large 
  
$btn-primary
  @extend $btn
  background-color $btn-primary-bg-color 
  color $btn-primary-text-color