$page
  height 100%
  display flex
  flex-direction column
  
  header, footer
    padding $page-header-padding
    flex 0 0 auto
    
  header 
    border-bottom 1px solid $border-color
    
  footer 
    border-top 1px solid $border-color
    
  .container
    overflow auto
    -webkit-overflow-scrolling touch
    flex 1 1 0
    
  @media (max-width: $screen-tablet-width-min)
    &
      display block
    