div.shopping-cart
  header
    a.add-product(ng-click="addProducts()") Add Products
  div.list.container
    ul
      li(ng-repeat="product in products") 
        div.quantity 1
        div.name {{product.name}}
        div.price {{ taxed(product.exclPrice, product.taxRate) | fixed}}
  
  div.summary
    div.item.light
      div.label Sub-total
      div.text {{subTotal | fixed}}
    div.item.light
      div.label Tax (GST)
      div.text {{tax | fixed}}
    div.item.bolder
      div.label Total Price
      div.text {{total | fixed}}
  footer
    a.clear-all(ng-click="clearAll()") Boomshakalaka