div.shopping-cart
  header
    a.add-product(ng-click="addProducts()") Add Products
  div.list.container
    div.gst-inclusive-toggle
      input(type="checkbox" id="inclusive" ng-model="inclusive") 
      label(for="inclusive") GST Inclusive
    ul
      li(ng-repeat="product in products") 
        input.quantity(type="number" ng-model="product.quantity" step="1")
        div.name {{product.name}}
        div.price {{ (inclusive ? product.total : product.subTotal) | fixed}}
        a.delete(ng-click="removeProduct(product)") Remove
  
  div.summary
    div.item.light
      div.label Sub-total
      div.text {{subTotal | fixed}}
    div.item.light
      div.label Tax (GST)
      div.text {{tax | fixed}}
    div.item.light.discount
      div.label Discount
      div.text 
        span -
        input(type="number" ng-model="discount" step="1")
        span .00
    div.item.bolder
      div.label Total Price
      div.text {{ (total - discount) > 0 ? (total - discount) : 0 | fixed}}
  footer
    a.clear-all(ng-click="reset()") Boomshakalaka