div.shopping-cart
  header
    a.add-product Add Products
  div.list.container
    ul
      li 
        div.quantity 1
        div.name Eternal Teeshirt
        div.price 300.00
      li 
        div.quantity 1
        div.name Eternal Teeshirt
        div.price 300.00
      li 
        div.quantity 1
        div.name Eternal Teeshirt
        div.price 300.00
      li 
        div.quantity 1
        div.name Eternal Teeshirt
        div.price 300.00
      
  div.summary
    div.item.light
      div.label Sub-total
      div.text 0
    div.item.light
      div.label Tax (GST)
      div.text 0
    div.item.bolder
      div.label Total Price
      div.text 0
  footer
    a.clear-all Boomshakalaka